/* изолированы и не влияют на другие компоненты */
.nav {
  /* Стилизует меню навигации */
  border: 1px solid blue;
  padding: 10px;
  margin: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.footer {
  flex: 1 1 auto; /* занимает все оставшееся место на странице по вертикали */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
